src/gold/adf/pipeline/PL_Gold_Build_Dimension.json
{
    "name": "PL_Gold_Build_Dimension",
    "properties": {
        "activities": [
            {
                "name": "Lookup_Dimension_Config",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderStoredProcedureName": "[control].[sp_GetGoldDimensionConfig]",
                        "storedProcedureParameters": {
                            "GoldTableId": {
                                "type": "Int32",
                                "value": {
                                    "value": "@pipeline().parameters.gold_table_id",
                                    "type": "Expression"
                                }
                            }
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_ControlDB_Gold",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": true
                }
            },
            {
                "name": "Notebook_BuildDimension",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Lookup_Dimension_Config",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Shared/gold/Gold_Build_Dimension",
                    "baseParameters": {
                        "pipeline_run_id": {
                            "value": "@pipeline().parameters.pipeline_run_id",
                            "type": "Expression"
                        },
                        "gold_table_id": {
                            "value": "@pipeline().parameters.gold_table_id",
                            "type": "Expression"
                        },
                        "source_silver_tables": {
                            "value": "@pipeline().parameters.source_silver_tables",
                            "type": "Expression"
                        },
                        "target_gold_table": {
                            "value": "@pipeline().parameters.target_gold_table",
                            "type": "Expression"
                        },
                        "scd_type": {
                            "value": "@activity('Lookup_Dimension_Config').output.firstRow.scd_type",
                            "type": "Expression"
                        },
                        "business_key_columns": {
                            "value": "@activity('Lookup_Dimension_Config').output.firstRow.business_key_columns",
                            "type": "Expression"
                        },
                        "storage_account": "stdataplatformdevnda0jg"
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "SP_UpdateGoldStatus_Success",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Notebook_BuildDimension",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[control].[sp_UpdateGoldTableStatus]",
                    "storedProcedureParameters": {
                        "GoldTableId": {
                            "value": {
                                "value": "@pipeline().parameters.gold_table_id",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "Status": {
                            "value": "SUCCESS",
                            "type": "String"
                        },
                        "PipelineRunId": {
                            "value": {
                                "value": "@pipeline().parameters.pipeline_run_id",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "RecordsProcessed": {
                            "value": {
                                "value": "@activity('Notebook_BuildDimension').output.runOutput",
                                "type": "Expression"
                            },
                            "type": "Int64"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Control",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "SP_UpdateGoldStatus_Failure",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Notebook_BuildDimension",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[control].[sp_UpdateGoldTableStatus]",
                    "storedProcedureParameters": {
                        "GoldTableId": {
                            "value": {
                                "value": "@pipeline().parameters.gold_table_id",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "Status": {
                            "value": "FAILED",
                            "type": "String"
                        },
                        "PipelineRunId": {
                            "value": {
                                "value": "@pipeline().parameters.pipeline_run_id",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "ErrorMessage": {
                            "value": {
                                "value": "@activity('Notebook_BuildDimension').error.message",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Control",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "parameters": {
            "pipeline_run_id": {
                "type": "string"
            },
            "gold_table_id": {
                "type": "int"
            },
            "source_silver_tables": {
                "type": "string"
            },
            "target_gold_table": {
                "type": "string"
            }
        },
        "annotations": []
    }
}